<div id="footerlinks">
	<div id="footernav" class="footerbox">
		<!-- Ahref add -->
		<p> Navigation
		<p> Home
		<p> About
		<p> Automotive
		<p> Live Auctions
		<p> Upcoming Auctions
		<p> Buyer
		<p> Sellers
		<p> Store
		<p> Contact
	</div>
	<div id="footerloc" class="footerbox">
		<!-- update to remove email -->
		<p> Address
		<p> PBR Auto Auction
		<p> 105 - 71st Street West
		<br> Saskatoon,
		<br> Saskatchewan S7R 1B4
		<br> Telephone: (306) 931-7666
		<br> Email: pbrliquid@sasktel.net
	</div>
	<div id="hours" class="footerbox">
		<p> Office Hours
		<p> Monday, Wednesday & Friday:
		<br> 9:00 AM - 9:00 PM
		<p> Tuesday & Thursday:
		<br> 9:00 AM - 5:00 PM
		<p> Saturday
		<br> 8:00 AM - 5:00 PM
	</div>

</div>
<div id="footerbanner"></div>
</body>