<body>
<div id="bodyHeader">
	<div id="logo">
		<img src="logo.gif">
	</div>
<div id="nav">	
	<li class="dropdown"><a href="/"> Home </a></li>
	<li class="dropdown"><a href="/about"> About</a>
	    <ul class="dropdown-content">
			<li><a href="#">Information</a></li>
		</ul>
	</li>
	<li class="dropdown"><a href="/automotive">Automotive</a>
		<ul class="dropdown-content">
			<li class="dropbtn"><a href="#"> About Live Webcast Auto Auction</a></li>
			<li class="dropbtn"><a href="#"> May 19th - VEHICLE CATALOG   </a></li>
			<li class="dropbtn"><a href="#"> Farm &amp; Industrial Listings - May 26th</a></li>
			<li class="dropbtn"><a href="#"> Register For Online Auto Auction</a></li>
		</ul>
	</li>
	<li class="dropdown"><a href="liveauctions">Live Auctions</a></li>
	<li class="dropdown"><a href="upcoming">Upcoming Auctions</a>
		<ul class="dropdown-content">
			<li class="dropbtn"><a href="#"> Wednesday May 16th, Liquidation Auction</a></li>
		</ul>
	</li>
	<li class="dropdown"><a href="buyer" > Buyer   </a></li>
	<li class="dropdown"><a href="sellers" > Sellers </a></li>
	<li class="dropdown"><a href="store" > Stores  </a></li>
	<li class="dropdown"><a href="contact" > Contact </a></li>
</div>

</div>