<body>
<div id="bodyHeader">
	<div id="logo">
		<img src="logo.gif">
	</div>
<div id="nav">	
	<li><a href="#"> Home </a></li>
	<li><a href="#"> About</a>
	    <ul class="drop">
			<li><a href="#">Information</a></li>
		</ul>
	</li>
	<li><a href="#">Automotive</a>
		<ul class="drop">
			<li><a href="#"> About Live Webcast Auto Auction</a></li>
			<li><a href="#"> May 19th - VEHICLE CATALOG     </a></li>
			<li><a href="#"> Farm &amp; Industrial Listings - May 26th</a></li>
			<li><a href="#"> Register For Online Auto Auction</a></li>
		</ul>
	</li>
	<li><a href="#" class="">Live Auctions</a></li>
	<li><a href="#" class="">Upcoming Auctions</a>
		<ul class="drop">
		<li><a href="#"> Wednesday May 16th, Liquidation Auction</a></li>
		</ul>
	</li>
	<li><a href="#" > Buyer   </a></li>
	<li><a href="#" > Sellers </a></li>
	<li><a href="#" > Stores  </a></li>
	<li><a href="#" > Contact </a></li>
</div>

</div>