<% include partials/header.ejs %>
<% include partials/bodyHeader.ejs %>
<div id="page">
	<div id="office" class="Gallery">
		<H1> Visit Us </H1>
		<!-- Pretty pictures/updates -->
		<!-- Events as well -->
	</div>
	<div id="contact" class="Gallery">
		<H1> Contact Us </H1>
		<!-- Pretty Pictures and Email buffer -->

	</div>
	<div id="visit" class="Gallery">
		<H1> Find Us </H1>
		<!-- TODO Add Google Maps here-->
		<p> 105 - 71st Street West
		<br> Saskatoon,
		<br> Saskatchewan S7R 1B4 
	</div>
</div>
<% include partials/bodyFooter.ejs %>
<% include partials/footer.ejs %>