<% include partials/header.ejs %>
<% include partials/bodyHeader.ejs %>
<div id="page">
<div id="auctions" class="gallery">
	<H1> Upcoming Auctions</H1>
	<!--Pull data here-->
	<img src="product.png">
	<img src="product.png">
	<img src="product.png">
</div>
<div id="products" class="gallery">
	<H1> Current Bids </H1>
	<!--Pull data here-->
	<img src="product.png">
	<img src="product.png">
	<img src="product.png">
</div>
<div id="ebay/kijiji" class="gallery">
	<H1> Online Bids </H1>
	<!--Pull data here-->
	<img src="product.png">
	<img src="product.png">
	<img src="product.png">
</div>
<div id="socialposts" class="gallery">
	<H1> Check us out on Facebook </H1>
	<!--Pull data here-->
	<img src="product.png">
	<img src="product.png">
	<img src="product.png">
</div>
</div>
<% include partials/bodyFooter.ejs %>
<% include partials/footer.ejs %>